<xf:title>{{ phrase('aed_log') }}</xf:title>


<xf:pageaction if="$entries is not empty">
    <xf:button href="{{ link('logs/aed-logs/clear') }}" icon="delete" overlay="true">
        {{ phrase('clear') }}
    </xf:button>
</xf:pageaction>

<xf:if is="$entries is not empty">
    <div class="block">
        <div class="block-container">
            <div class="block-body">
                <xf:datalist data-xf-init="responsive-data-list">
                    <xf:datarow rowtype="header">
                        <xf:cell>{{ phrase('aed_from_user') }}</xf:cell>
                        <xf:cell>{{ phrase('aed_to_user') }}</xf:cell>
                        <xf:cell>{{ phrase('ip_address') }}</xf:cell>
                        <xf:cell>{{ phrase('aed_fingerprint') }}</xf:cell>
                        <xf:cell>{{ phrase('date_time') }}</xf:cell>
                    </xf:datarow>
                    <xf:foreach loop="$entries" value="$entry">
                        <xf:datarow>
                            <xf:cell><xf:username user="$entry.FromUser" href="{{ link('users/edit', $entry.FromUser) }}" /></xf:cell>
                            <xf:cell><xf:username user="$entry.ToUser" href="{{ link('users/edit', $entry.ToUser) }}" /></xf:cell>
                            <xf:cell class="u-ltr">{{ $entry.ip_address ? $entry.ip_address|ip : '' }}</xf:cell>
                            <xf:cell>{$entry.user_fingerprint}</xf:cell>
                            <xf:cell><xf:date time="{$entry.login_date}" /></xf:cell>
                        </xf:datarow>
                    </xf:foreach>
                </xf:datalist>
            </div>
            <div class="block-footer">
                <span class="block-footer-counter">{{ display_totals($entries, $total) }}</span>
            </div>
        </div>
        <xf:pagenav page="{$page}" perpage="{$perPage}" total="{$total}"
                    link="logs/aed-logs" params="{$linkFilters}"
                    wrapperclass="block-outer block-outer--after" />
    </div>
    <xf:else />
    <div class="blockMessage">{{ phrase('no_entries_have_been_logged') }}</div>
</xf:if>