<xf:checkboxrow label="{{ phrase('usergroup_promote_GroupSelect_label') }}" explain="{{ phrase('usergroup_promote_primaryGroupSelect_explain') }}">
    <xf:option name="at_pdfmt_primaryGroupSelect" label="{{ phrase('usergroup_promote_allow_text') }}" checked="{$userGroup.at_pdfmt_primaryGroupSelect}" />
</xf:checkboxrow>
<xf:checkboxrow label="{{ phrase('usergroup_promote_GroupSelect_label') }}" explain="{{ phrase('usergroup_promote_secondaryGroupSelect_explain') }}">
    <xf:option name="at_pdfmt_secondaryGroupSelect" label="{{ phrase('usergroup_promote_allow_text') }}" checked="{$userGroup.at_pdfmt_secondaryGroupSelect}" />
</xf:checkboxrow>