<div class="block-container">
	<xf:form action="{{ link('promote/index') }}" ajax="false" data-force-flash-message="true">
		<div class="block-body">
			<xf:hiddenval name="user_id" value="{$mID}"></xf:hiddenval>
			<xf:if is="$xf.visitor.canPromotePrimaryGroup()">
				<div class="promotePrimary">
					<dl class="formRow">
						<dt>
							<div class="formRow-labelWrapper">
							<label for="promote_primary_group">{{ phrase('at_pdfmt_primary_group') }}:</label></div>
						</dt>
						<dd>
							<xf:select id="promote_primary_group" name="promote_primary_group" class="">
								<xf:foreach loop="$promote_primary_group_ids" value="$promote_primary_group">
									<xf:if is="$promote_primary_group.value == $promote_selected_primary_group">
										<xf:option value="{$promote_primary_group.value}" selected="true" >{$promote_primary_group.label}</xf:option>
									<xf:else />
										<xf:option value="{$promote_primary_group.value}">{$promote_primary_group.label}</xf:option>
									</xf:if>
								</xf:foreach>
							</xf:select>
						</dd>
					</dl>
				</div>
			</xf:if>
			<xf:if is="$xf.visitor.canPromoteSecondaryGroup()">
				<div class="promoteSecondary">
					<xf:checkboxrow  name="promoteSecondaryGroups" label="{{ phrase('at_pdfmt_secondary_group') }}">
						<xf:foreach loop="$promote_secondary_group_ids" value="$promote_secondary_group">
							<xf:option name="promote_secondary_group[{$promote_secondary_group.id}]" checked="{$promote_secondary_group.value}" label="{$promote_secondary_group.label}" />
						</xf:foreach>
					</xf:checkboxrow>
				</div>
			</xf:if>
			<xf:if is="$xf.visitor.canPromoteStaff()">
				<div class="promoteStaff">
					<xf:checkboxrow  name="promoteStaff" label="{{ phrase('admin_navigation.usersStaff') }}">
						<xf:option name="promote_secondary_group[{$promote_secondary_group.id}]" checked="{$isstaff}" label="{{ phrase('display_user_as_staff') }}" />
					</xf:checkboxrow>
				</div>
			</xf:if>
		</div>
		<xf:submitrow submit="{{ phrase('send') }}" class="button OverlayCloser" />
	</xf:form>
</div>